version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: market-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: market
    volumes:
      - ./postgres-new-data:/var/lib/postgresql/data
    restart: always
